.app-footer {
  @apply w-full p-0 text-black bg-[#27262c] opacity-95 relative;
}

.app-footer-wrapper {
  @apply max-w-screen-2xl w-full m-auto px-4 py-6 relative;
  @apply flex flex-wrap;
}

.app-footer-title {
  @apply w-24 h-24 sm:w-36 md:w-52 sm:h-32;
  /* @apply bg-starry-night text-lg font-semibold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.app-footer-email {
  /* @apply w-full sm:w-1/2 font-extrabold underline underline-offset-4 mb-3 sm:mb-0; */
  @apply w-full sm:w-1/2 font-extrabold mb-3 sm:mb-0;
}

.app-footer-email:hover {
  /* @apply bg-copper-shine text-lg font-semibold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.all-reserved {
  @apply w-full md:w-1/4 flex flex-wrap justify-between items-center;
  position: relative;
}

.connect-mobile {
  @apply w-full h-16;
  @apply flex md:hidden justify-between items-center fixed;
  @apply bg-dark-secondary;
  bottom: 0;
  left: 0;
  z-index: 30;
}

.mobile-wrapper {
  @apply w-full h-full;
  @apply flex justify-end items-center;
  /* @apply border-t-white;
  position: relative;
  border-top: 1px solid; */
}

/* @media (min-width: theme("screens.md")) {
	.ant-layout-footer.app-footer {
		@apply !border-t-transparent dark:!border-t-white;
		position: relative;
		border-top: 1px solid;
	}
} */
